<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.PerformanceCollector" version="0.14.3-build00177" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.PersistenceChannel" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.RuntimeTelemetry" version="0.14.3-build00177" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Web" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Web.TelemetryChannel" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client.ru" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core.ru" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost.ru" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.25" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.0.1" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.0.1" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json.Schema" version="1.0.9" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.5.4" targetFramework="net45" />
</packages>